@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    SoftGames<br />
    Calle Aventura 117<br />
    <abbr title="Phone"></abbr>
    +51 936 752 842
</address>

<address>
    <strong>Soporte:</strong>   <a href="https://www.youtube.com/watch?v=JLvxWNxymNc">soporte@Softgames.com</a><br />
</address>